.timeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 217, 0);
  margin: 1em;
  padding: 1em;
  border-radius: 50%;
  width: 37%;
  height: 30%;
  border: double 0.5em #daa520;
  box-shadow: inset 0px -5px 5px 0px goldenrod;
}

.timeDisplay {
  width: 100%;
  text-align: center;
  color: black;
  font-size: xx-large;
  font-family: "Doto", sans-serif;
  font-weight: 550;
  text-shadow: 0px 5px 5px rgb(83, 107, 83);
  border: double 0.2em;
  border-radius: 0.5em;
  padding: 0.1em;
  background-color: darkseagreen;
  box-shadow: inset 1px 1px 10px 1px rgb(21, 31, 4);
}

@keyframes grow {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@media (min-width: 768px) {
  
  .timeContainer {
    width: 43%;
    height: 35%;
  }
  .timeDisplay {
    font-size: 5vw;
  }
 
}

@media (min-width: 992px) {
  
  .timeContainer {
    width: 43%;
    height: 35%;
  }
  .timeDisplay {
    font-size: 4vw;
  }
 
}

@media (max-height: 600px) {
  .timeDisplay {
    font-size: 3vw;
  }

}

@media (min-width: 1200px) {
  
  .timeContainer {
    width: 43%;
    height: 35%;
  }
  .timeDisplay {
    font-size: 4vw;
  }
 
}
