h1 {
  font-size: 1.5em;
  line-height: 1;
  color: black;
}

.mainTitle{
  flex-grow: 3;
  font-family: "Borel", cursive;
  text-align: center;
  animation: slideDown 2s;
}

select{
  font-family: "Borel", cursive;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  border:none;
  border-radius: 5px;
  background-color: powderblue;
  font-size: large;
  text-align: center;
  color: goldenrod;
  font-weight: 750;
  letter-spacing: 2px;
  
}

option{
  color: goldenrod;
  font-weight: 750;
}

.eggTimerContainer {
  display: grid;
  grid-template-rows: 1fr 0.6fr 1.4fr 4fr 1.4fr;
  place-items:center;
  justify-content: center;
  min-height: 100%;
}
 
.eggShape{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3/4;
  border-radius: 100% / 125% 125% 80% 80%;
  background-color: rgb(252, 255, 236);
  border: solid 10px goldenrod;
  margin: 1em;
  height: 100%;
  animation: appear 2s; 
  box-shadow: 0px 5px 5px 0px rgb(139, 177, 182);
  
}

.cookingSelectContainer{
  font-family: "Borel", cursive;
  animation: slideInRight 2s;
  margin:0.2em;
}





@keyframes appear {
  0%{
    opacity: 0; 
    scale:0;
  }

  50%{
    scale:1.1;
  }

  100%{
    opacity: 1;
  }
}

@keyframes slideInRight {
  0%{
    opacity: 0;
    transform: translateX(350px);
  }

  100%{
  }
}

@keyframes slideDown {
  

  0%{
    transform: translateY(-350px);
  }
}

@keyframes shake {
  0%{
    transform: rotate(0deg);
  }

  50%{
    transform: rotate(5deg);
  }

  100%{
    transform: rotate(-5deg);
  }
}