


.eggTimerContainer {
  display: grid;
  grid-template-rows: 2fr 1fr 4fr 2fr;
  place-items:center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90%;
}

.eggShape{
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3/4;
  border-radius: 100% / 125% 125% 80% 80%;
  background-color: rgb(252, 255, 236);
  border: solid;
  margin: 1em;
  height: 100%;
}

.cookingSelectContainer{
  margin: 1em;
}