


.startStopContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    padding-bottom: 1em;
}

.startStopButton{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/4;
    border-radius: 100% / 125% 125% 80% 80%;
    background-color: rgb(252, 255, 236);
    border: solid goldenrod;
    box-shadow:inset 0px -5px 8px 0px rgb(189, 184, 167);
    text-align: center;
    letter-spacing: 2px;
    color:goldenrod;
    font-weight: 1000;
    font-size: small;
    font-family: "Borel", cursive;
    width:20%;
    text-decoration: underline dotted 5px;
    transition: 0.2s;
}

.startStopButton:active{
    box-shadow: inset 0px 5px 15px 5px rgb(172, 168, 158);
    transform: translateY(3px)
    
}