
.buttonsContainer{
  display: flex;
  flex-direction: column;
}
.timeOptionButtons{
  display: flex;
  justify-content: space-between;
  width:100%;
}

.timerButton{
  padding:1em 0.5em 1em 0.5em;
  margin: 0px 5px 0px 5px;
  background-color: powderblue;
  color:goldenrod;
  border: solid goldenrod;
  font-size: large;
  font-weight: 1000;
  box-shadow: 0px 5px 1px 0px;
  border-radius: 8px;
}


.timerButton:active{
  box-shadow: none;
  transform: translateY(5px);
}