

.timeOptionButtons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width:90%;
}

.timerControls{
  display: flex;
  justify-content: space-evenly;
  width:90%;
}

button{
  padding:1em;
  background-color: gold;
  color:white;
}
