.eggContainter {
  z-index: ;
  justify-content: center;
  display: flex;
  flex-direction: column;
  animation: boil 1s ease-in-out infinite alternate;
  
}

.egg {
  display: flex;
  min-height: 25rem;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 252, 221);
  aspect-ratio: 3 / 4;
  border-radius: 100% / 125% 125% 80% 80%;
  box-shadow: inset 10px -10px 20px 5px rgb(223, 220, 190);
  border: solid goldenrod;
}

.eggHighlight {
  position: relative;
  right: -65px;
  top: -125px;
  background-color: rgb(255, 255, 249);
  border: saddlebrown;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: rotate(20deg) skew(50deg);
  box-shadow: -20px 15px 20px 10px white;
}




@keyframes boil {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-10px) rotate(5deg);
  }

  40% {
    transform: translateY(0px) rotate(15deg);
  }

  60% {
    transform: translateY(-20px) rotate(-5deg);
  }

  80% {
    transform: translateY(0px) rotate(-15deg);
  }

  100% {
    transform: translateY(-20px) rotate(-10deg);
  }
}
