.landingPageContainer {
  z-index: 5;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 10fr 1fr;
  place-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.pageTitle {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  align-self: end;
  animation: slideDown 1s; 
}



.bubble , .bubbleTwo , .bubbleThree, .bubbleFour, .bubbleFive, .bubbleSix, .bubbleSeven, .bubbleEight, .bubbleNine{
	position: absolute;
  z-index: 1;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
  border:rgba(255, 255, 255, 0.204) solid;
	background: linear-gradient(to left, #c4ebedae, #9ad4e495);
	box-shadow: 2px 5px 5px rgba(189, 226, 204, 0.2);
	animation: rise 3s linear infinite;
}

.bubble{
  top:1000px;
  right: 10%;
	width: 70px;
  height: 70px;
}

.bubbleTwo{
  top:1600px;
  left:20%;
  animation-delay: 0.7s;
	width: 60px;
  height: 60px;
}

.bubbleThree{
  top: 1600px;
  right: 15%;
}

.bubbleFour{
  top: 1600px;
  right: 50%;
  animation-delay: 1.7s;
  width: 40px;
  height: 40px;
}

.bubbleFive{
  top: 1600px;
  left: 5%;
  animation-delay: 2.4s;
  width: 30px;
  height: 30px;
}

.bubbleSix{
  top: 1600px;
  right: 30%;
  animation-delay: 3.4s;
  width: 40px;
  height: 40px;
}

.bubbleSeven{
  top: 1600px;
  right: 15%;
  animation-delay: 4.5s;
  width: 20px;
  height: 20px;
}

.bubbleEight{
  top: 1600px;
  left: 10%;
  width: 40px;
  height: 40px;
  animation: rise 2s linear infinite;
}

.bubbleNine{
  top: 1000px;
  right: 33%;
  animation-delay: 4.3s;
  width: 40px;
  height: 40px;
  animation: rise 2s linear infinite;
}

@keyframes rise {

  100%{
    transform: translateY(-2000px);
  }
}

@keyframes slideDown {
  
  0%{
    opacity: 0;
    scale: 0;
    transform: translateY(-500px); 
  }
} 