
.navbarContainer{
    z-index: 6;
    grid-row: 4;
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-self: end;
    width: 100%;
    max-height:100%;
   
}

.navbarLink{
    width:35%;
    height:20%;
    padding: 0.5em;
    margin: 0px 5px 0px 5px;
    background-color: rgb(248, 248, 218);
    color: goldenrod;
    border: solid goldenrod;
    font-size: 4.5vw;
    text-align: center;
    font-weight: 1000;
    box-shadow: inset 0px 0px 1px 5px rgb(223, 211, 181);
    border-radius: 1em;
    font-family: "Borel", cursive;
    animation: growAppear 1s;
}


.navbarLink:active {
    box-shadow: none;
    transform: translateY(5px);
  }

  @keyframes growAppear {
  
    0%{
      opacity: 0;
      scale: 0;
    }
  }

  @media (max-height: 600px) {
    .navbarContainer{
      grid-row: 2;
      grid-column: 3;
      height: 100%;
      justify-content: end;
      align-items: end;
      margin-bottom: 3em;
    }

    .navbarLink{
      height: auto;
      width:80%;
      margin-bottom: 1em;
      width:35%;
      font-size: 3vw;
    }
  
  }

  @media  screen and (min-width:992px) {
    
    .navbarContainer{
      grid-row: 2;
      grid-column: 3;
      height: 100%;
      justify-content: end;
      align-items: end;
      margin-bottom: 4em;
    }

    .navbarLink{

      height: auto;
      width:80%;
      margin-bottom: 1em;
      width:35%;
      font-size: 1.5vw;
    }

  }